@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4e5;
  --primary--text: #0a0a0a;
  --secondary--text: #f3f4f9;
  --CTA-buttons: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
   --background: #f8f8f8;
  --primary--text: #0a0a0a;
  --secondary--text: #f3f4f9;
  --CTA-buttons: #2c6b3d;
  }
} */

body {
  /* color: var(--primary--text); */
  background: var(--background);
}

/* Colors */

/* Hunter green : #2C6B3D -- Primary, CTA
Jet black : #0A0A0A -- Primary Text
Dark Grey : #333333 -- Secondary Text
OFF White : #F8F8F8 -- Background */
