@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --secondary--background: #1e3a8a66;
  --primary--text: #333333;
  --secondary--text: #4a4a4a;
  --CTA-buttons: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
   --background: #f8f8f8;
  --primary--text: #0a0a0a;
  --secondary--text: #f3f4f9;
  --CTA-buttons: #2c6b3d;
  }
} */

body {
  background: var(--background);
}

::selection {
  color: var(--background);
  background: var(--primary--text);
}
